

nav, footer {
    text-align: center;
    background-color:#462925;
    padding: 10px;
}

a:hover {
    background-color: white;
    color: #462925;
}
  h2 {
    color: #462925;
}
h1{
    text-align: center;
}
img {
    width: 40%;
    display: block;
    margin: 0 auto;
    border: 4px solid #462925;
}
p {
    text-align: center;
    padding: 10px;
}
  
a {
    font-size: 1.5em;
    color: white;
    margin: 40px;
    line-height: 1.5em;
}
#active {
    background-color: white;
    color: #462925;
}

