

nav, footer {
    background-color: #462925;
    padding: 10px;
    text-align: center;
}


footer p {
    padding: 20px;
    color: white;
    font-size: 20px;
    margin: 20px auto; 
}

a {
    color: white;
    font-size: 1em;
    margin: 40px;
    line-height: 1.5em;
    padding: 10px
}

h1 {
    color: #462925;
    text-align: center;
    margin: 50px 0;
}


h2 {
    color: #462925;
}

img {
    width: 50%;
    border: 4px solid #462925;
    margin: 50px auto; 
    display: block;
    padding: 25px;
}

p {
    padding: 10px;
    text-align: center;
}

#active {
    background-color: white;
    color: #462925;
}

a:hover {
    background-color: white;
    color: #462925;
  }

  body {
    margin: 0;
}

